* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-color: #1b1b50;
  --black: #000000;
  --icon-color: #a5a6f6;
  --btn1-gradient: linear-gradient(
    297.28deg,
    #f66e6e 67.01%,
    rgba(246, 110, 110, 0) 123.71%
  );

  --btn2-gradient: linear-gradient(
    288.62deg,
    #6e8cf6 42.36%,
    rgba(110, 213, 246, 0.93) 115.74%
  );
  --white: #fff;
  -input-color: #e7f6fc;
  --active-btn: #d6f4fb;
  --box3:#dce9e9;
 --box5:linear-gradient(176.88deg, #F3B8BC 2.58%, #FFDAD4 93.07%);
  --box6:linear-gradient(270deg, #DADAE4 0.25%, #EEEEF0 24.33%, #F8F8F8 52.08%, #FEFEFE 100%);
  --box7:#F66E6E;
  --box8:linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 100%);
  --footer-bg: #050506;
}

body {
  min-width: 375px;
  
}

.mobile-navbar {
  width: 100%;
  height: 103px;
  background: rgba(255, 255, 255, 0.47);
  box-shadow: 0px 3px 6px rgba(24, 160, 251, 0.12);
  backdrop-filter: blur(4px);
  border-radius: 0px 0px 14px 14px;
  
}
/* Status Bar */

.status-bar {
  /* background-color: #f0f; */
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  align-items: center;
  padding: 0 0.8em;
}

/* Time Status */

.time-status p {
  font-size: 25px;
  font-weight: bold;
  font-family: "SF Pro Display";
  
  color: #000;
  letter-spacing: 0.1em;
  align-self: center;
}

/* Basic info incon */
.basic-info .wifi .battery .signal,
img {
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.2em;
  margin-top: 0.25em;
}

.lower-navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
}

.notify-icon {
  display: flex;
  justify-content: space-between;
}
.notify-menu {
  margin: 0 1.25em;
}

/* About section */

.about-section {
  width: 100%;
  height: auto;
  /* background-color: #f0f; */
}

.first-box .about-title {
  font-family: "Reptile";
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  margin-top: 43px;
}

.first-box .title-2nd {
  text-align: center;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  margin: 37px 20px 0px 20px;
}

.first-box .para-third {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 24px;
  text-align: justify;
  line-height: 40px;
  /* margin: 0 37px;
  margin-top: 37px; */
  margin: 37px 20px 0px 20px;
  color: var(--balck);
}

.draw-underline {
  border: 1px solid var(--black);
  /* margin: 0 32px; */
  margin: 26px 20px 0px 20px;
  /* margin-top: 26px; */
}

.second-box .our-philosophy {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  margin: 32px 20px 0px 20px;
}

.second-box .title-3rd {
  font-family: "Reptile";
  font-weight: 500;
  font-size: 42px;
  line-height: 40px;
  text-align: center;
  margin: 37px 20px 0px 20px;
}

/* Para box */

.para-box .desc-para-1,.desc-para-2  {
  font-family: 'DM Sans';
font-weight: 700;
font-size: 24px;
line-height: 40px;
color: var(--title-color);
  text-align: center;
  margin: 37px 20px 0px 20px;
}

.content-box p{
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: var(--title-color);
  text-align: center;
  margin: 40px 25px 25px 15px;
}

.content-box .para-icon-1,
.para-icon-2,
.para-icon-3 {
  display: flex;
  justify-content: center;

}
.content-box .para-icon-1 img,
.para-icon-2 img,
.para-icon-3 img {
  width: 70px;
  height: 70px;
}


.content-box .desc2-para-1,
.desc2-para-2,
.desc2-para-3 {
  text-align: center;
  margin-top: 38px;
}
.content-box .para-end {
  text-align: justify;
  margin: 75px 20px;
}

.box-container-2 {
  background: linear-gradient(
    165.41deg,
    #d99ec9 0%,
    rgba(246, 240, 196, 0) 100%
  );
}

.box-container-2 .heading-1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 26px;
  padding-top: 84px;
  text-align: center;
  color: var(--title-color);
}

.box-container-2 > p:nth-child(2) {
  font-family: "Reptile";
  font-weight: 500;
  font-size: 40px;
  margin-top: 37px;
  color: var(--title-color);
  text-align: center;
}

.description-content {
  width: 80%;
  margin: 0 auto;
}
.description-content p,
ul {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 22px;
  line-height: 180%;
  margin-top: 37px;
  text-align: justify;
  color: var(--title-color);
}

.description-content ul li {
  margin-left: 50px;
}

/* Box Container-3 */
.box-container-3 {
  background:  var(--box3);
}

.box-container-3 .heading {
  font-family: "Poppins";
  
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  text-align: justify;
  padding-top: 39px;
  margin: 0px 7px 37px 33px;
}

.box-container-3 .light-title {
  font-family: "Reptile";
  
  font-weight: 500;
  font-size: 45px;
  color: var(--black);
  text-align: justify;
  margin: 0px 13px 13px 33px;
}

.box-container-3 .paragraph-text {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 20px;
  /* line-height: 206.5%; */
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  margin: 21px 34px 0px 33px;
  padding-bottom: 17px;
  text-align: justify;
}

/* Image Container */

.image-container {
  background-image: url("images/karolina-grabowska.png");
  width : 100%;
  height: 562px;
  background-repeat: no-repeat;
  background-size: cover;
 padding-top:16px;
}

.image-container .upgrade-btn{
  display: flex;
  justify-content: center;
  background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
border-radius: 70px;
padding: 18px 45px;
gap: 10px;
font-family: 'Poppins';
flex: none;
order: 0;
flex-grow: 0;
color: var(--white);
margin: 0 30px;
}

/* Container Box -4 */

.box-container-4 .upgrade-btn{
  display: flex;
  justify-content: center;
  background: linear-gradient(288.62deg, #6E8CF6 42.36%, rgba(110, 213, 246, 0.93) 115.74%);
  box-shadow: 0px 2px 16px rgba(71, 222, 255, 0.33);
  border-radius: 70px;
padding: 18px 45px;
gap: 10px;
margin: 0 30px;
font-family: 'Poppins';
flex: none;
order: 0;
flex-grow: 0;
color: var(--white);
}
.box-container-4 .heading {
  font-family: 'Reptile';
  
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  text-align: justify;
  padding-top: 39px;
  margin: 0px 7px 37px 33px;
}


.box-container-4 .paragraph-text
{
  font-family: "Poppins";
  
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  margin: 21px 34px 0px 33px;
  padding-bottom: 17px;
  text-align: justify;
}

/* Image grid */

.box-container-4  .image-grid{
    display: flex;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
    margin: 35px 0px;
}
.image-grid div img{
  width: 164px;
  height: 164px;
}

/* Box Container - 5 */

.box-container-5{
  background: var(--box5)
}

.box-container-5 .heading {
  font-family: 'Reptile';
  font-weight: 700;
  font-size: 40px;
  padding-top: 39px;
  margin: 0px 7px 37px 33px;
}


.box-container-5 .paragraph-text {
  font-family: "Poppins";
  
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  margin: 21px 34px 0px 33px;
  padding-bottom: 17px;
  text-align: justify;
}

/* Image Container */

.box-container-5 .image-container {
  background-image: url("images/calender.png");
  width : 100%;
  height: 562px;
  background-repeat: no-repeat;
  background-size: cover;
 padding-top:16px;
}

.box-container-5  .upgrade-btn{
  display: flex;
  justify-content: center;
  background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
border-radius: 70px;
padding: 18px 45px;
gap: 10px;
font-family: 'Poppins';
flex: none;
order: 0;
flex-grow: 0;
color: var(--white);
margin: 33px 30px 47px 30px;
}


/* Container Box -6 */
.box-container-6{
  background: var(--box6);
}

.box-container-6 .heading {
  font-family: 'Reptile';
  font-weight: 700;
  font-size: 40px;
  padding-top: 39px;
  margin: 0px 7px 37px 33px;
}


.box-container-6 .paragraph-text {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  margin: 21px 34px 0px 33px;
  padding-bottom: 17px;
  text-align: justify;
}

/* Image Container */

.box-container-6 .image-container {
  background-image: url("images/usman-yousaf.png");
  width : 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
 padding-top:16px;
}

.box-container-6  .upgrade-btn{
  display: flex;
  justify-content: center;
  background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
border-radius: 70px;
padding: 18px 45px;
gap: 10px;
font-family: 'Poppins';
flex: none;
order: 0;
flex-grow: 0;
color: var(--white);
margin: 33px 30px 47px 30px;
}

.box-container-7{
  background: var(--box7);
  padding-bottom:47px;
}

.box-container-7 .heading{
  font-family: 'Reptile';
  font-weight: 700;
  font-size: 40px;
  padding-top: 39px;
  margin: 0px 7px 37px 33px;
}
.box-container-7  .image-container{
  background-image: url("images/gift-box.png");
  width : 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
 padding-top:16px;
}

.box-container-7 .paragraph-text {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  margin: 21px 34px 0px 33px;
  padding-bottom: 17px;
  text-align: justify;
}
.box-container-7 .upgrade-btn{
  display: flex;
  justify-content: center;
  background: var(--black);
filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
border-radius: 70px;
padding: 18px 35px;
font-family: 'Poppins';
flex: none;
order: 0;
font-size:18px;
flex-grow: 0;
color: var(--white);
margin: 33px 20px 0px 20px;
}
.box-container-7 .upgrade-btn img{
width:20px;
margin-top:0.40em;
height:15px;
}


/* Box Conatiner -8 */
.box-container-8{
  background: var(--box8);
}

.box-container-8 .light-title {
  font-family: "Reptile";
  
  font-weight: 500;
  font-size: 42px;
  color: var(--black);
  margin: 0px 30px 0px 30px;
  padding: 100px 0;
}

/*----------- Footer ------ */

footer{
  background: var(--footer-bg)
}
.social-icon {
  display: flex;
  justify-content: flex-end;
  gap:15px;
  margin-right:40px;
}
.social-icon img{
  font-size:30px;
  margin-top:40px;

}


.list-conatiner ul {
margin: 45px 0px 30px 40px;
}
.list-conatiner ul li{
  list-style-type: none;
  color: var(--white);
  font-family: 'DM Sans';

font-weight: 400;
font-size: 25px;
line-height: 206.5%;
}
.list-conatiner img{
  width: 20px;
  height: 15px;
}

footer .news-para{
  font-family: 'Poppins';
  
  font-weight: 300;
  font-size: 18px;
  line-height: 206.5%;
  margin: 20px 0px 15px 40px;
  color: var(--white);
}


footer .draw-underline {
  border: 1px solid var(--white);
  margin: 0 30px;
}

footer .submit-email{
  display: flex;
  justify-content: center;
  gap:10px;
  padding:1.25em 0px 4em 0px;
}

footer .submit-email button ,input {
padding:0.7em 0.6em;
border-radius:10px;
}
footer .submit-email button{
  display: flex;
  gap:5px;
  border-radius:30px;
 
  outline:none;
  border:none;
}

footer .submit-email .active-btn {
  color: var(--black);
  margin-top: 5px;  
}

